 

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "calibri ligth";
}

.contenedor{
    background: tomato;
    width: 80%;
    margin: auto; 
}

header{
    height:400px;
    background-image: url("img/portada");
    background-position: center;
    background-size: cover;
}

 main{
    background: white;
    padding: 20px 30px;
 }

 main .foto{
     width: 150px;
     height: 150px;
     background-color: teal;
     border-radius: 50%;
     margin: -90px 0 20px;
     border: 6px solid #ffffff;
 }

 main .foto img{
   width: 100%;  
   border-radius: 50%;
 }

 footer{
     background-color: teal;
     text-align: center;
     padding: 25px;
     color: #ffffff;
 }
 .btn-1 {
    display: block;
    padding: 15px 10px;
    background: rgb(121, 190, 190);
    font-size: 17px;
    color: #0c0c0c;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
    margin: 0% auto;
    width: 100px;
    text-decoration: none;
    }